<div class="container p-4">
    <nav class="">
        <h1><a href="/"><i class="fas fa-home"></i></a> Bitcoin Donation</h1>
    </nav>
    <hr style="background-color:white;">
    </nav>
</div>
<div style="text-align: center" class="main">
    <h2>Yes. I accept Bitcoin. Here's my BTC Wallet address and below you can see a QR code for easy access.</h2>
    <div class="containerbtc">
        <div class="contentbtc">
            18FEcx8YXVXmyyc8upk9jo1s5EXKY9ht4r
        </div>
    </div>
    <div class="clearfix">
    </div>
    <br>
            <img class="btcqr" src="/btcvictor.png" alt="">
</div>