<meta name="robots" content="noindex">
<body class="" id="contactbusiness">
    <div class="maindiv">
        <h1 class="main text typewriter business" id="text">Víctor Moreno</h1>
        <div style="padding-top: 10px;"class="contactb">
            <a href="mailto:victor@victormoreno.es"><i class="fas fa-envelope-open-text"></i> victor@victormoreno.es</a>
            <br>
            <a href="tel:622168393"><i class="fas fa-phone-alt"></i><i class="fab fa-whatsapp"></i> +34 622168393</a>
            <br>
            <span>
            <a href="/contact" style="text-decoration: underline !important;">Contact Form // Formulario de Contacto</a>
            </span>
        </div>
    </div>
</body>
<script src="/victormoreno.js"></script>