<meta name="robots" content="noindex">
<body class="" id="contactbusiness">
    <div class="maindiv">
        <h1 class="main text typewriter" id="text">Víctor Moreno</h1>
        <div class="contactb">
            <a href="mailto:info@victormoreno.es"><i class="fas fa-envelope-open-text"></i> info@victormoreno.es</a>
            <br>
            <a href="tel:622168393"><i class="fas fa-phone-alt"></i><i class="fab fa-whatsapp"></i> +34 622168393</a>
            <br>
            <span>
            <a href="/contact" style="text-decoration: underline !important;">O también puedes usar el formulario de contacto de esta web.</a>
            </span>
        </div>
    </div>
</body>
<script src="/index.js"></script>