<div class="container p-4">
    <nav class="">
        <h1><a href="/"><i class="fas fa-home"></i></a> Contact</h1>
    </nav>
    <hr style="background-color:white;">
    <p class="parag">Well, go ahead, wanna talk to me about something? A project? Just wanna say hi? You can also <a href="https://keybase.io/v1ctormoreno">check me out on keybase</a> if you want some privacy.</p>
    <div class="contact-item">
        <div class="form-group">
<!--
            <form class="">
                <input type="text" name="nombre" placeholder="Nombre">
                <input type="text" name="email" placeholder="tu@email.es">
                <textarea rows="5" placeholder="Mensaje" name="mensaje"></textarea>
                <input type="submit" value="Submit">
            </form>
-->
        </div>
        <form style="background-color: #1b1b1b;" method="post" action="https://formspree.io/mvobqvww">
            <div class="container">
                <div class="form-group">
                    <label for="exampleInputPassword1" class="bmd-label-floating">Name</label>
                    <input name="nombre" type="text" name="nombre"class="form-control" id="">
                </div>
                <div class="form-group">
                    <label class="bmd-label-floating">Email</label>
                    <input style="color:white" name="email" type="email" class="form-control" id="exampleInputEmail1">
                    <span class="bmd-help">I'll contact you to this email.</span>
                    <span class="bmd-help"></span>
                </div>
                <div class="form-group">
                    <label for="" class="bmd-label-floating">Message</label>
                    <textarea name="mensaje" class="form-control" id="exampleTextarea" rows="3"></textarea>
                    <br>
                </div>
                <p>
                    <button style="background-color:grey !important;" type="submit"
                        class="btn btn-primary">Submit</button>
                    <br>
                    <br>
                </p>

            </div>

        </form>
    <button class="btn btn-primary" styles="" onclick="goBack()">Go Back</button>

    </div>

</div>