<meta name="robots" content="noindex">

<body class="" id="contactbusiness">
    <div class="container p-4">
        <nav class="" style="margin: 10px !important;">
            <h1><a href="/"><i class="fas fa-home"></i></a> Home</h1>
        </nav>
        <hr style="background-color:white;">
        <div class="maindiv">

            <h1 class="main text typewriter business" id="text"><a href="/">Víctor Moreno</a></h1>
            <br>
            <div style="padding-top: 10px;" class="contactb">
                <div class="icons_b">
                    <br>
                    {{>icons}}
                </div>
                <br>
                <a href="mailto:victor@victormoreno.es"><i class="fas fa-envelope-open-text"></i>
                    victor@victormoreno.es</a>
                <br>
                <a href="tel:622168393"><i class="fas fa-phone-alt"></i><i class="fab fa-whatsapp"></i> +34
                    622168393</a>
                <br>
                <span>
                    <a href="/cv.pdf" style="text-decoration: underline !important;">Curriculum en PDF</a>
                </span>
            </div>
        </div>
    </div>


</body>
<script src="/victormoreno.js"></script>