<div class="container p-4">
    <nav class="">
        <h1><a href="/"><i class="fas fa-home"></i></a> Donations</h1>
    </nav>
    <hr style="background-color:white;">
    </nav>
</div>
</nav>
</div>
<div id="donationspage">
    <span id="donationsspan">
        <h2>Want to pay me a coffe? Sure!</h2>
        <br>
        <h4>I accept Bitcoin and PayPal</h4>
        <br>
        <h1>
            <a href="/donations/btc"><i class="fab fa-btc"></i></a>
            <a href="https://paypal.me/devtinoco"><i class="fab fa-paypal"></i></a>
        </h1>
    </span>
</div>