<body class="">
    <div class="maindiv">
        <h1 class="main text typewriter" id="text">Víctor Moreno</h1>
        <span class="pages">
        <a class="" href="/uses">Uses</a>
        <a>|</a>
        <a class="" href="/projects">Projects</a>
        <a>|</a>
        <a class="" href="/about">About</a>
        <a>|</a>
        <a class="" href="/contact">Contact</a>
        </span>

    </div>



</body>
<script src="index.js"></script>