<body class="">
    <div class="maindiv">
        <h1 class="main text typewriter" id="text">Víctor Moreno</h1>
        <span class="pages">
        <a class="" href="/uses">Uses</a>
        <a>|</a>
        <a class="" href="/about">About</a>
        <a>|</a>
        <a class="" href="/contact">Contact</a>

        </span>

    </div>


    <div class="footer animated fadeIn text-center">
        <p class="index">Víctor Moreno
            <a href="http://gitlab.com/victormoreno"><i class="fab fa-gitlab"></i></a>
            <a href="http://twitter.com/devtinoco"><i class="fab fa-twitter"></i></a>
            <a href="mailto:victormorenotin@gmail.com"><i class="fas fa-at"></i></a>
        </p>
    </div>
</body>
<script src="index.js"></script>