<body class="" id="index">
    <div class="maindiv">
        <h1 class="main text typewriter" id="text">Víctor Moreno</h1>
        {{>pages}}
        {{>donations}}
    </div>



</body>
<script src="/index.js"></script>