<div class="container p-4">
    <nav class="">
        <h1><a href="/"><i class="fas fa-home"></i></a> Projects</h1>
    </nav>
    <hr style="background-color:white;">
    <p class="parag">This is a manually updated list about the projects I've done or I have going on.</p>
    <div class="about-item">
        <li><a href="https://github.com/v1ctormoreno/controlaccesos_arduino">Control de accesos con arduino</a> </li>
    </div>


</div>