<div class="container p-4">
    <nav class="">
        <h1><a href="/"><i class="fas fa-home"></i></a> Projects</h1>
    </nav>
    <hr style="background-color:white;">
    <p class="parag">Learn a bit more about me.</p>
    <div class="about-item">
        <p>So, as you may know, my name is Víctor, difficult to guess huh?</p>
        <p>I'm a teenager that loves IT, I've been messing around with computers since I was little and now I have the
            opportunity to build my life and career around them (and not only around computers: servers, sometimes
            cameras...)</p>
        <p>I'm kinda fullstack: I know two things about design (advisor: don't check the code of this website), some
            more things about backend (NodeJS, PHP...) and a hell of a lot of things about servers (I'm a linux guy but
            I know Windows).</p>
        <p><br>This website may or not be updated in the future. <br>You have all of my social info at the main page.
            You can contact me through my <a style="text-decoration: underline" href="/contact">contact form.</a></p>
        <button class="btn btn-primary" styles="" onclick="goBack()">Go Back</button>

    </div>


</div>