<div class="container p-4">
    <h1><a href="/"><i class="fas fa-home"></i></a> Uses</h1>
    <hr style="background-color:white;">
    <p class="parag">Ready to see what I use?</p>
    <div class="uses-item">
        <h3><i class="fas fa-desktop"></i> Computers</h3>
        <p>So, I currently use two laptops
            <p>
                <span class="title-subsub"><i class="fab fa-windows"></i> <a class="">Razer Blade 14" (2017) running
                        Windows 10
                        and Linux Mint.</a></span>
                <li>i7 7700HQ</li>
                <li>16 GB of RAM</li>
                <li>GTX 1060 6GB</li>
            </p>
            <p>
                <span class="title-subsub"><i class="fab fa-apple"></i> <a class="">MacBook Pro 13" 2017 (non-touchbar
                        model,
                        running macOS what else could I be running)</a></span>
                <li>2.3 GHz Dual-Core Intel Core i5</li>
                <li>8 GB of RAM</li>
                <li>128 GB SSD <i class="far fa-meh"></i></li>
            </p>
        </p>
        </span>
    </div>
        <div class="uses-item">
            <h3><i class="fas fa-camera"></i> Camera Gear</h3>
            <p>Well, not much, but useful
                <p>
                    <span class="title-subsub"><i class="fas fa-camera"></i><a class="">Canon 50D</a></span>
                    <li>18-55 Kit Lens</li>
                    <li>Sigma DC 18-200</li>
                    <li>Q66 Tripod</li>
                </p>
            </p>
            </span>
        </div>
    <button class="btn btn-primary" styles="" onclick="goBack()">Go Back</button>

</div>