<a href="https://www.linkedin.com/in/v1ctormoreno/" target="_blank"><i class="fab fa-linkedin fa-2x"></i></a>
<a href="http://github.com/v1ctormoreno" target="_blank"><i class="fab fa-github fa-2x"></i></a>
<a href="http://gitlab.com/victormoreno" target="_blank"><i class="fab fa-gitlab fa-2x"></i></a>
<a href="http://twitter.com/v1ctormoreno_" target="_blank"><i class="fab fa-twitter fa-2x"></i></a>
<a href="mailto:victor@victormoreno.es" target="_blank"><i class="fas fa-at fa-2x"></i></a>