<span class="pages">
           <br><br> {{>icons}} <br><br>
    <a class="" href="/uses">Uses</a>
    <a>|</a>
    <a class="" href="/projects">Projects</a>
    <a>|</a>
    <a class="" href="https://blog.v1ctor.es">Blog</a>
    <a>|</a>
    <a class="" href="/about">About</a>
<!--    <a>|</a>
    <a class="" href="/donations">Donations</a> -->
    <a>|</a>
    <a class="" href="/contact">Contact</a>
</span>