*{
    color: white !important;
}
p.parag{
    font-size: 16 !important;
}
span.title-subsub a{
      text-decoration: underline !important;

}
.btn.btn-primary{
    margin-top: 50px;
    margin-left: 110vw;
    background-color: grey !important;
}